@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.quizzes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__subnav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-white;
        width: 100%;
        color: $color-blue;

        &-title{
            font-size: $h1-size;
            padding: 1rem 2rem;
            width: 50%;
        }

        &__search{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 1rem 2rem;
            width: 50%;

            &-input{
                height: 2.5rem;
                width: 20rem;
                color: $color-grey;
                padding: 0.5rem 1rem;
                border: 1px solid $color-light-grey;
                border-radius: 3px;
            }
            &-button{
                &-img{
                    height: 1rem;
                    width: 1rem;
                    margin: 0 0.5rem;
                }
            }
        }
    }
    &-list{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        @include desktop {
            padding: 0rem 8rem 3rem 8rem;
        }

    }

}