@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.wordquiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__images{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    &__words{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 1rem;

        &__ctn{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &-text{
                width: 70%;
                border-radius: 10px;
                border: 1px solid $color-button-select;
                padding: 0.5rem;
                margin: 0.5rem;
                width: 12rem;
                text-align: center;
            }

        }


       
    }
}