@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.wordquiz{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__images{
        padding-right: 10rem;
    }
    &__words{
        padding: 2rem 3rem;

        &-button{
            height: 4.5rem;
        }

    }
}