@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.word{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem 1.5rem;
    margin: 1.5rem;
    width: 60%;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    
    &__image{
        width: auto;
        height: auto;
    }

    &__card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        width: auto;
        height: auto;

        &-button{
            background-color: $color-button-select;
            color: $color-linen;
            border-radius: 3px;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            width: 10rem;
            height: 3rem;

            &--secondary{
                background-color: $color-blue;
            }
        }
    }
   
}