@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.word{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem 1.5rem;
    margin: 1.5rem;
    width: 60%;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    
    &__image{
        width: auto;
        height: auto;
        margin: 1rem;
    }

    &__card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        width: 98%;
        height: auto;
        border-top: 1px solid $color-light-grey;

        @include tablet {
            flex-direction: row;
        }

        &__detail{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

       
}
   
