@font-face {
    font-family: Quicksand;
    src: url("../../assets/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    src: url("../../assets/fonts/Quicksand-Bold.ttf") format("truetype");
    font-weight: bold;
}