$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
  
$h1-size: 1.875rem;
$h2-size: 1.5rem;
$h3-size: 1.125rem;
$h4-size: 1rem;
$body-size: 1.25rem;

$color-linen: #fbf4ea;
$color-button-select: #DB393C;
$color-blue: #6097B1;
$color-grey: #575A5C;
$color-sunset: #F6CB86;
$color-olive: #6A994E;
$color-orange: #E85D04;
$color-light-grey: #CCC5B9;




