@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

$border-radius: 1rem;
$padding-margin: 0.5rem;

.article {
    position: relative;
    height: 10rem;
    width: 18rem;
    margin: 1rem;
    background-color: $color-linen;
    border-radius: $border-radius;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Quicksand;

    &-language {
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        padding: 0.5rem;
        background-color: $color-grey; 
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        text-align: right;
        transition: background-color 0.3s;
        font-family: Quicksand;

        & img {
            height: 1rem;
            width: 1rem;
            margin-right: 0.3rem;
        }
        &-text {
            font-size: small;
            text-align: right;
            color: white; 
        }
    }

    &-welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;


        &-text {
            font-size: $h2-size;
            padding: 0.5rem;
            color: $color-grey; 
        }
        &-name {
            font-size: $h3-size;
            color: $color-blue; 
            margin-bottom: 1rem;
        }

        &-button {
            width: 100%; 
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            padding: 0.5rem 2rem;
            background-color: $color-button-select; 
            color: white; 

            &-ctn{
                display: flex;
                flex-direction: row;
                justify-content: center;

                &-img{
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-right: 1rem;
                    margin-left: 1rem;
                }
            }
        }
    }
}
