@import '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.end {
    padding: 5rem;
    text-align: center;
    color: $color-button-select; 
    margin: 2rem;
    position: relative;
    
    &__h2{
        font-size: 5rem;
        margin: 3rem;
        
    }
    &__h3{
        font-size: 3rem;
    }


  }