@import '../../styles/partials/variables';
@import '../../styles/partials/global';
@import '../../styles/partials/mixins';

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-linen;
    align-items: center;

    @include tablet {
        flex-direction: row;
    }
    
}