@import '../../styles/partials/variables';
@import '../../styles/partials/global';
@import '../../styles/partials/mixins';

.ctn{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    &__home {
        background-color: $color-linen;

        @include desktop {
            padding: 1rem 8rem 3rem 8rem;
        }
    }
}